/* .background{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.frame{
    position: relative;
    width: 440px;
    height: 330px;
}


#fest{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.frame::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, #ED7D31 0%, rgba(0, 0, 0, 0) 25%);
    z-index: 2;
}

.circle{
    width: 886px;
    height: 886px;
    background-color: #F6F1EE;
    margin-top: -60px;
    border-radius: 443px;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.box{
    width: 440px;
    height: 686px;
    background-color: rgba(246, 241, 238, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-calendar{
    background-color: #F6F1EE !important;
    border: none !important;
    margin-top: 39px;
    font-weight: bold !important;
}

.react-calendar__navigation{
    width: auto !important;
}

.react-calendar__navigation__label{
    color: #4F4A45 !important;
    font-size: 32px;
    font-weight:bold !important;
    white-space: pre;
}

.react-calendar__navigation__prev-button{
    width: 0px !important;
    height: 0px !important;
    border-top: 25.5px solid transparent !important;
    border-bottom: 25.5px solid transparent !important;
    border-right: 36.06px solid rgba(108, 95, 91, 0.2) !important;
    background: none !important;
}

.react-calendar__navigation__next-button{
    width: 0px !important;
    height: 0px !important;
    border-top: 25.5px solid transparent !important;
    border-bottom: 25.5px solid transparent !important;
    border-left: 36.06px solid rgba(108, 95, 91, 0.2) !important;
    background: none !important;
}
.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button{
    display: none;
}

.react-calendar__month-view__weekdays__weekday {
    margin-top: 8px;
    color: #4F4A45 !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none !important;
    border: none !important;
}


.react-calendar__tile{
    background-color: rgba(108, 95, 91, 0.05) !important;
    color: #4F4A45;
    border-radius: 5px;
    margin: 4px 4px !important;
    width: 45px;
    height: 45px;
}


.range-start{
    background-color: #ED7D31 !important;
    color: #F6F1EE;
}

.range-end{
    background-color: #ED7D31 !important;
    color: #F6F1EE;
}

.highlight-range{
    background-color: rgba(237, 125, 49, 0.25) !important;
    color: #F6F1EE !important;
}

.nav_bar{
    position: fixed;
    bottom: 0px
} */