.explore_page{
    display: flex;
    justify-content: center;
}
.background{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.box_{
    width: 440px;
    height: 686px;
    background-color: rgba(246, 241, 238, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle h1{
    color: #ED7D31;
    font-size: 40px;
    margin-top: 36px;
}
p{
    margin-top: 20px;
    color: #4F4A45;
    font-size: 16px;
    width: 419px;
    font-weight: bold;
}
#large{
    font-size: 24px;
}
#medium{
    font-size: 18px;
}
#opa1{
    opacity: 0.75;
}
#opa2{
    opacity: 0.5;
}
#opa3{
    opacity: 0.25;
}
.more_detail{
    display: flex;
    justify-content: center;
}
.button_more_detail{
  border: none;         /* เอาขอบออก */
  outline: none;        /* เอาเส้นขอบที่ขึ้นตอนคลิกออก */
  background: none;
  box-shadow: none;     /* เอาเงานูนออก */
}

.set_button{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    row-gap: 41px;
}
.nav_bar{
    position: fixed;
    bottom: 0px;
    z-index: 20;
}

.not_attraction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}


.not_attraction p{
    color: #ED7D31;
    font-size: 40px;
    margin-top: 10px;
    width: auto;
}