.button_bar{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
}
#img_button{
    display: flex;
    position: absolute;
    margin-left: 15px;
    cursor: pointer;
}
.button_bar button{
    width: 336px;
    height: 64px;
    border-radius: 16px;
    background-color: #F6F1EE;
    border: 2px solid #4F4A45;
    font-size: 24px;
    color: #4F4A45;
    text-align: left;
    padding-left: 79px;
}