.Navbar{
    align-items: end;
    width: 440px;
    height: 88px;
    display: flex;
    flex-direction: row;
}

.nav_bar_group{
    display: flex;
}



.nav_to{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    flex-direction: column;
}
p{
    color: #4F4A45;
}