.profile_page{
    color: #ED7D31;
}
.background{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.head_background{
    position: relative;
    width: 440px;
    height: 330px;
}
#img_head{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.head_background::after{
    content: "";
    position: absolute;
    background: linear-gradient(to top, #ED7D31 0%, rgba(0, 0, 0, 0) 25%);
    width: 100%;
    height: 100%;
    z-index: 2;
}




.circle{
    width: 886px;
    height: 886px;
    margin-top: -60px;
    border-radius: 443px;
    display: flex;
    justify-content: center;
    background-color: #F6F1EE;
    z-index: 3;
}
.box{
    width: 440px;
    height: 686px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 60px; */
    /* background-color: aqua; */
}


