.wishlists{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 39px;
    color: #4F4A45;
}
.card{
    width: 333px;
    height: auto
    /* background-color: aqua; */
}
.img_place{
    width: 334px;
    height: 334px;
    /* background-color: bisque; */
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
#img_place{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

}
.img_place::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to top, #4F4A45 0%, rgba(0, 0, 0, 0) 50%);
}
#love{
    position: absolute;
    margin-left: 277px;
    margin-top: 280px;
    z-index: 3;
}
.head{
    /* background-color: blueviolet; */
    margin-top: 22px;
    display: flex;
    align-items: center;
    position: relative;
}
h1{
    font-size: 32px;
}
.rating{
    position: absolute;
    right: 0;
    /* background-color: blue; */
    width: auto;
    display: flex;
    align-items: center;
}
h2{
    /* background-color: brown; */
    margin-top: 22px;
    font-size: 16px;
}
#span1{
    font-size: 24px;
}
#span2{
    font-size: 18px;
}
#span3{
    opacity: 0.75;
}
#span4{
    opacity: 0.5;
}
#span5{
    opacity: 0.25;
}
.more_detail{
    display: flex;
    justify-content: center;
}
.nav_bar{
    position: fixed;
    bottom: 0px
}