.plan_page{
    color: #ED7D31;
}
.background{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.iframe{
    background: linear-gradient(to top, #ED7D31 0%, rgba(0, 0, 0, 0) 50%);
}
.circle{
    width: 886px;
    height: 886px;
    background-color: #F6F1EE;
    margin-top: -60px;
    border-radius: 443px;
    display: flex;
    justify-content: center;
}
.box{
    width: 440px;
    height: 686px;
    background-color: rgba(246, 241, 238, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 36px;
}
.planning{
    margin-top: 48px;
    display: flex;
    row-gap: 18px;
    flex-direction: column;
    align-items: center;
}
.nav_bar{
    position: fixed;
    bottom: 0px
}